header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
}
